/jogodaadivinhacao/nbproject/private/
/exercicioadivinhacao/nbproject/private/
/exercicioadivinhacao/build/
/JavaApplication185/nbproject/private/
/JavaApplication185/build/
/JavaApplication186/nbproject/private/
/JavaApplication186/build/
/JavaApplication187/nbproject/private/
/JavaApplication187/build/
/JavaApplication188/nbproject/private/
/JavaApplication188/build/
/JavaApplication189/nbproject/private/
/JavaApplication189/build/
/JavaApplication190/nbproject/private/
/JavaApplication190/build/
/jogodaadivinhacao/build/